:root {
  --off-white: #fffdf8;
  --off-focus: #fff4da;
  --focus: #ffc480;
  --black: #111827;
  --red: #fe4a60;
  --box-height: 350px;
  --side-width: 150px;
  --center-width: 650px;
  --border-width: 25px;
  --focus-width: 100px;
  --focus-height: 50px;
  --focus-height-tall: 144px;
body {
  background-color: var(--off-white);
  /*font-family: Arial, sans-serif;*/
}

.page {
  position:absolute;
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
}

.ball {
  position: absolute;
  width: var(--side-width);
  height: var(--side-width);
  background-color: var(--red);
  border-radius: 50%;
}

.ball.left {
  top: calc(-1 * (var(--side-width) + var(--border-width)));
  left: 0px;
}

.ball.right {
  top: calc(var(--box-height) + var(--border-width));
  right: 0px;
}

.box-row {
  overflow-x: auto;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  gap: var(--border-width);
  overflow: visible;
}

.floating-box {
  position: relative;
  background-color: var(--off-focus);
  border: 2px solid var(--black);
  border-radius: 5px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 1);
  flex: 0 0 auto; 
  text-align: center;
}

.floating-box.side {
  width: var(--side-width);
  height: var(--box-height);
}

.floating-box.center {
  width: var(--center-width);
  height: var(--box-height);
}

.floating-box.focus {
  margin-top: var(--border-width);
  width: var(--focus-width);
  height: var(--focus-height);
  left: 50%;
  transform: translate(-50%);

  background-color: var(--focus);
  border: 1px solid var(--black);
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 1);
}

.floating-box.focus.tall {
  height: var(--focus-height-tall);
}
.wave span{
  display: inline-block;
  margin-right: -1px;
  font-weight: bold;
  animation: wave-animation 1.5s ease-in-out infinite;
}
.wave span:nth-child(1) {
  animation-delay: 0s;
}
.wave span:nth-child(2) {
  animation-delay: 0.2s;
}
.wave span:nth-child(3) {
  animation-delay: 0.4s;
}
.wave span:nth-child(4) {
  animation-delay: 0.6s;
}
@keyframes wave-animation {
  0, 100% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
}
