:root {
  --off-white: #fffdf8;
  --off-focus: #fff4da;
  --focus: #ffc480;
  --black: #111827;
  --red: #fe4a60;
  --box-height: 350px;
  --side-width: 150px;
  --center-width: 650px;
  --border-width: 25px;
  --focus-width: 100px;
  --focus-height: 50px;
  --focus-height-tall: 114px;
}

html {
  height: 100%;
  cursor: url(https://cur.cursors-4u.net/games/gam-14/gam1340.cur), auto !important;
}

body {
  background-color: var(--off-white);
  font-family: 'Inter', sans-serif;
}

@font-face {
  font-family: inter;
  src: url('https://rsms.me/inter/font-files/Inter-Regular.woff2') format('woff2');
}

.text-select {
  align-items: center;
  text-align: center;
  font-size: 12px;
  color: var(--off-white);
  display: inline-block;
  text-shadow: 1px 1px 0px var(--black);
  margin-top: -4px;
}

.text-select.large {
  font-size: 20px;
  text-shadow: 2px 2px 0px var(--black);
  font-weight: bold;
}

.page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.ball {
  position: absolute;
  width: var(--side-width);
  height: var(--side-width);
  background-color: var(--red);
  border-radius: 50%;
}

.ball.left {
  top: calc(-1 * (var(--side-width) + var(--border-width)));
  left: 0px;
}

.ball.right {
  top: calc(var(--box-height) + var(--border-width));
  right: 0px;
}

.box-row {
  overflow-x: auto;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  gap: var(--border-width);
  overflow: visible;
}

.floating-box {
  position: relative;
  background-color: var(--off-focus);
  border: 2px solid var(--black);
  border-radius: 5px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 1);
  flex: 0 0 auto;
  text-align: center;
  padding-top: 5px;
}

.floating-box.side {
  width: var(--side-width);
  height: var(--box-height);
}

.floating-box.center {
  width: var(--center-width);
  height: var(--box-height);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--focus) var(--off-focus);
}

.floating-box.center p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  text-align: left;
  margin: 30px;
}

.floating-box h2,
.floating-box h3 {
  text-align: left;
  margin-left: 30px;
  margin-right: 30px;
}

.floating-box h3 a {
  color: var(--black);
  text-decoration: none;
}

.social-item a {
  color: var(--off-white);
  text-decoration: none;
}

.floating-box.focus.navigation.box-row h3,
.floating-box.focus.navigation.box-row a {
  color: var(--off-white);
  text-shadow: 1px 1px 0px var(--black);
}

.floating-box.focus {
  margin-top: var(--border-width);
  width: var(--focus-width);
  height: var(--focus-height);
  left: 50%;
  transform: translate(-50%);

  background-color: var(--focus);
  border: 1px solid var(--black);
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 1);
  gap: 5px;

}

.floating-box.focus.tall {
  height: var(--focus-height-tall);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
}

.floating-box.focus.navigation {
  position: absolute;
  top: 5px;
  height: 110px;
}

.floating-box.focus.count {
  position: absolute;
  bottom: 25px;
  /* display: flex; */
  /* align-items: center; */
  gap: 5px;
  /* width: 90%; */
  /* padding-left: 20px; */
}

.floating-box.focus.navigation.box-row {
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.floating-box.focus.navigation.box-row h3 {
  margin: 0;
  margin-top: -10px;
  text-shadow: 2px 2px 0px var(--black);
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  text-decoration: underline;
}

.floating-box.focus.navigation.box-row a {
  text-decoration: none;
  font-size: 14px;
  display: block;
  margin: -2px;
  padding: 2px 4px;
  border-radius: 3px;
  transition: background-color 0.2s;
  text-align: center;
}

.floating-box.focus.navigation a:hover {
  background-color: var(--off-focus);
}

.floating-box.focus.cookies {
  position: sticky;
  width: 150px;
  height: 75px;
  margin-left: calc(var(--center-width) - 101px);
  bottom: var(--border-width);
}

.floating-box.select {
  cursor: pointer;
  position: absolute;
  height: 25px;
  top: 40px;
  background-color: var(--red);

  border: 1px solid var(--black);
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 1);
}

.floating-box.select.ok {
  width: 25px;
  left: 10px;
}

.floating-box.select.showAgain {
  width: 75px;
  right: 10px;
}

.social-item {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  padding-left: 20px;
}

.kilroy-large {
  width: 55%;
  height: auto;
  position: relative;
  top: -24px;
  transform: rotate(1.5deg);
}

.kilroy-small {
  width: 40%;
  height: auto;
  position: relative;
  top: -29px;
  transform: rotate(1.5deg);
}

.css-text {
  display: none;
}

.wave span {
  display: inline-block;
  margin-right: -3px;
  font-weight: bold;
  animation: wave-animation 1.5s ease-in-out infinite;
}

.wave span:nth-child(1) {
  animation-delay: 0s;
}

.wave span:nth-child(2) {
  animation-delay: 0.2s;
}

.wave span:nth-child(3) {
  animation-delay: 0.4s;
}

.wave span:nth-child(4) {
  animation-delay: 0.6s;
}

@keyframes wave-animation {

0%,
100% {
  transform: translateY(0);
}

50% {
  transform: translateY(-5px);
}
}
